<!-- links to the artist's songs by title (FAILED - 1)
lists all of the artist's songs (FAILED - 2) -->

<ul>
 <% @artist.songs.each do |s| %>
   <li><%= link_to s.title, song_path(s) %></li>
 <% end %>
</ul>
